
@{
    ViewBag.Title = "AgregarServicio";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
     $(document).ready(function () {
         $('#cantidad').change(function () {
             var cantidad = $("#cantidad").val()
             if (cantidad != "None") {
                 $.ajax({
                     type: "POST",
                     url: "@Url.Action("CantidadTarifas","Vendedor")",
                     data: { cantidad: $("#cantidad").val() },//Tipo

                     success: function (resultado) {
                         $("#cantidadTarifasH").html(resultado)
                     },
                     error: function () {
                         alert("Error");
                     }

                 });
             } else {
                 $("#cantidadTarifasH").html("");
             }
            });
        });
</script>

<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: { lat: 9.9719671, lng: -84.056396 }
        });

        var markers = [];

        map.addListener('click', function (e) {
            document.getElementById("latitud").value = e.latLng.lat();
            document.getElementById("longuitud").value = e.latLng.lng();
            placeMarkerAndPanTo(e.latLng, map);
        });


        function placeMarkerAndPanTo(latLng, map) {
            //document.getElementById("latitud").value = "25";
            //document.getElementById("longuitud").value = "10";
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }

            markers = [];

            var marker = new google.maps.Marker({
                position: latLng,
                map: map,
                draggable: true,
                title: "Inicio"
            });
            map.panTo(latLng);
            markers.push(marker);

        }

    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEtlwTKIO24VtkrrYai0IHvQIOQv8bZ3k&callback=initMap">
</script>

<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>





<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1>Agregar Servicio</h1>
        </div>

        <form class="col-md-8" method="post" action="~/Vendedor/AgregarServicio" enctype="multipart/form-data">

            <div>
                <div class="form-group">
                    <label>Nombre del servicio</label>
                </div>
                <div class="form-group">
                    <input type="text" name="nombreServicio" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Nombre del propietario</label>
                </div>
                <div class="form-group">
                    <input type="text" name="nombrePropietario" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Provincia</label>
                </div>
                <div class="form-group">
                    <input type="text" name="provincia" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Cantón</label>
                </div>
                <div class="form-group">
                    <input type="text" name="canton" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Distrito</label>
                </div>
                <div class="form-group">
                    <input type="text" name="distrito" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Pueblo</label>
                </div>
                <div class="form-group">
                    <input type="text" name="pueblo" class="form-control" required>
                </div>

                @*<div class="form-group">
                    <label>Distancia en kilometros</label>
                </div>
                <div class="form-group">
                    <input type="number" name="distancia" class="form-control" required>
                </div>*@

                <div class="form-group">
                    <label>Latitud</label>
                </div>
                <div class="form-group">
                    <input type="number" id="latitud" name="latitud" class="form-control" step="0.0000000000000001" required>
                </div>

                <div class="form-group">
                    <label>Longitud</label>
                </div>
                <div class="form-group">
                    <input type="number" id="longuitud" name="longuitud" class="form-control" step="0.0000000000000001" required>
                </div>

           

                <div class="form-group">
                    <label>Categoria</label>
                    <div class="form-group">
                        <select class="form-control" name="categoria" id="categoria" required>
                            <option value="null">Seleccione</option>
                            @foreach (var item in Model)
                            {                            
                                if (@item.activo)
                                {
                                    <option value="@item.idCategoria">@item.categoria1</option>
                                }

                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>Fotografias del servicio</label>
                </div>
                <div class="form-group">
                    <input type="file" name="foto" class="form-control" accept="image/*" multiple required>
                </div>
                <div class="form-group">
                    <label>Cantidad de tarifas</label>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <select id="cantidad" class="form-control" name="cantidad" required>
                            <option value="None">Seleccione</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                </div>


                <div id="cantidadTarifasH"></div>
                <div id="map"></div>


                <div style="display:none" >
                    @*<label  id="latitud">10</label>
                    <label id="longuitud">10</label>*@
                    @*<input type="text" id="latitud"  name="latitud"value="10" />
                    <input type="text" id="longuitud" name="longuitud" value="10" />*@
                </div>
                <br />


                <div class="form-group">
                    <input type="submit" class="btn btn-dark" value="Crear servicio">
                </div>
            </div>
        </form>
        
    </div>



</div>
