
@{
    ViewBag.Title = "Servicios";
}

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2 col-md-offset-5">

        <button type="button" class="btn btn-dark btn-block" onclick="location.href='@Url.Action("AgregarServicio", "Vendedor")'">Agregar Servicio</button>
    </div>
</div>
